<fieldset>
	<div class="input-group">
		<%= f.label :name, "Company Name", class: "input-group-addon" %>
		<%= f.text_field :name, class: "form-control", list: "companies_autocomplete" %>
		<datalist id="companies_autocomplete">
			<% Company.all.each do |company| %>
				<option value="<%= company.name %>">
			<% end %>
		</datalist>
	</div>
	<%= f.hidden_field :_destroy %>
	<%= link_to "Remove", '#', class: "remove_field" %>
</fieldset>	