<fieldset>
	<div class="input-group">
		<%= f.label :name, class: "input-group-addon" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>		
	<div class="input-group">	
		<%= f.label :surname, class: "input-group-addon" %>
		<%= f.text_field :surname, class: "form-control" %>
	</div>
	<%= f.hidden_field :_destroy %>
	<%= link_to "Remove", '#', class: "remove_field" %>		
</fieldset>	