<%= form_for(@pin) do |f| %>

	<% if @pin.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>
	      <ul>
	      <% @pin.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	<% end %>

	<div class="input-group">
	    <%= f.label :title, class: "input-group-addon" %>
	    <%= f.text_field :title, class: "form-control", placeholder: "What is this Pin about?" %>
	</div>	

	<div class="input-group">
	    <%= f.label :url, class: "input-group-addon" %>
	    <%= f.text_field :url, class: "form-control", placeholder: "What's the URL you'd like to pin" %>
	</div>

	<div class="input-group">
	    <%= f.label :imgs, class: "input-group-addon" %>
	    <%= f.text_area :imgs, class: "form-control", placeholder: "What's the URL you'd like to pin", rows: "3" %>
	</div>	

	<div class="input-group">
	    <%= f.label :notes, class: "input-group-addon" %>
	    <%= f.text_area :notes, class: "form-control editor", placeholder: "What's the URL you'd like to pin", rows: "10" %>
	</div>	

	<h4>Pin to board(s)</h4>       
    <div class="row">
	    <%= f.collection_check_boxes :board_ids, Board.order(:title), :id, :title do |c| %>
		    <div class="col-lg-4">
		    	<div class="input-group">
			    	<span class="input-group-addon"><%= c.check_box %></span>
					<%= c.label(class: "form-control") %>
				</div>	
			</div>
	    <% end %>
	</div>	

	<h4>Add Tag(s)</h4>    
    <div class="row">
	    <%= f.collection_check_boxes :tag_ids, Tag.order(:name), :id, :name do |c| %>
		    <div class="col-lg-2">
		    	<div class="input-group">
			    	<span class="input-group-addon"><%= c.check_box %></span>
					<%= c.label(class: "form-control") %>
				</div>	
			</div>
	    <% end %>
	    <%= f.fields_for :tags, @pin.tags.build do |tag| %>
	    	<div class="col-lg-4">
		    	<div class="input-group">
		    		<%= tag.text_field :name, class: "form-control", placeholder: "Create a new tag?" %>
<!-- 			    	<span class="input-group-btn">
			    		<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Tag!</button>
			    	</span> -->
				</div>	
			</div>
		<% end %>
	</div>	

	<div class="actions">
	    <%= f.submit "Save Pin", class: "btn btn-success" %>
	</div>

<% end %>