<%= form_for(@pin) do |f| %>

	<% if @pin.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>
	      <ul>
	      <% @pin.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	<% end %>

	<div class="input-group">
	    <%= f.label :title, class: "input-group-addon" %>
	    <%= f.text_field :title, class: "form-control", placeholder: "What is this Pin about?" %>
	</div>	

	<div class="input-group">
	    <%= f.label :url, class: "input-group-addon" %>
	    <%= f.text_field :url, class: "form-control", placeholder: "What's the URL you'd like to pin" %>
	</div>

	<div class="input-group">
	    <%= f.label :imgs, class: "input-group-addon" %>
	    <%= f.text_area :imgs, class: "form-control", placeholder: "What's the URL you'd like to pin", rows: "3" %>
	</div>	

	<div class="input-group">
	    <%= f.label :notes, class: "input-group-addon" %>
	    <%= f.text_area :notes, class: "form-control editor", placeholder: "What's the URL you'd like to pin", rows: "10" %>
	</div>	

	<div class="well">
		<h4>Pin to board(s)</h4>       
	    <div class="row">
		    <%= f.collection_check_boxes :board_ids, Board.order(:title), :id, :title do |c| %>
			    <div class="col-lg-4">
			    	<div class="input-group">
				    	<span class="input-group-addon"><%= c.check_box %></span>
						<%= c.label(class: "form-control") %>
					</div>	
				</div>
		    <% end %>
		</div>	

		<%= render partial: 'shared/add_tags', locals: {f: f, pin: @pin} %>

		<div class="row">
			<div class="col-md-6 fields_list">
				<h4>Link a Company to this Pin</h4>
				<%= f.fields_for :companies do |ff| %>
					<%= render partial: 'add_company', locals: {f: ff} %>
				<% end %>

				<p><%= link_to_add_fields "Add Company", f, :companies %></p>
			</div>

			<div class="col-md-6 fields_list">
				<h4>Link a Person to this Pin</h4>
				<%= f.fields_for :people do |ff| %>
					<%= render partial: "add_person", locals: {f: ff} %>
				<% end %>
				<p><%= link_to_add_fields "Add Person", f, :people %></p>	
			</div>
		</div>
	</div>

	<div class="actions">
	    <%= f.submit "Save Pin", class: "btn btn-success" %>
	</div>

<% end %>