<div class="row text-center">
  <% pins.order(:id).each do |pin| %>
    <div class="col-md-3">
        <div class="blurb">
          <% if is_video?(pin.url) %>
              <%= link_to image_tag( youtube_thumbnail(pin.url), class: "img-blurb" ), pin %>
          <% else %>
              <%= link_to image_tag( images(pin).first, class: "img-blurb" ), pin %>
          <% end %>
          <div class="blurb-content">
            <h4><%= link_to (truncate pin.title), pin %></h4>

            <% unless pin.tags.empty? %>
              <h5>
                <% pin.tags.take(3).each do |tag| %>
                  <span class="label label-info"><%= link_to "##{tag.name}", tag %></span>
                <% end %>
              </h5>
            <% end %>
            
            <p><%= truncate(clean(pin.notes).html_safe, length: 80) %></p>
          </div>
          <p class="blurb-footer"><%= link_to "View pin", pin %></p>
        </div>
    </div>
  <% end %>
</div>