<div class="row text-center">
  <% pins.order(:id).each do |pin| %>
    <div class="col-md-3">
        <div class="blurb">
          <%= link_to image_tag( images(pin).first, class: "img-blurb" ), pin %>
          <h4><%= link_to (truncate pin.title), pin %></h4>

          <h5>
            <% pin.tags.take(3).each do |tag| %>
              <span class="label label-info"><%= link_to "##{tag.name}", tag %></span>
            <% end %>
          </h5>
          
          <p><%= truncate pin.notes.html_safe, length: 100 %></p>
       
          <p class="blurb-footer"><%= link_to "View pin", pin %></p>
        </div>
    </div>
  <% end %>
</div>