<div class="container">
<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title"><%= @pin.title %><span class="pull-right"><%= link_to "Link", @pin.url %></span></h2>
	</div>

	<div class="panel-body">
		<%= @pin.notes.html_safe %>

		<% unless @pin.imgs %>
			<div class="row">
				<% images(@pin).each do |img| %>
					<div class="col-xs-12 col-md-4">
						<%= link_to img, class: "thumbnail" do %>
						  <%= image_tag img %>
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>	

	<% if is_video?(@pin.url) %>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/w2H07DRv2_M?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
	<% end %>

	<ul class="list-group">
		<li class="list-group-item"><strong>Linked Companies: </strong> 
			<% @pin.companies.each_with_index do |company, index| %>
				<%= link_to company.name, company %><%= (index + 2 > @pin.companies.length ) ? "" : ", " %>
			<% end %> 
		</li>
		<li class="list-group-item"><strong>Linked People: </strong>
			<% @pin.people.each_with_index do |person, index| %>
				<%= link_to "#{person.name} #{person.surname}", person %><%= (index + 2 > @pin.people.length ) ? "" : ", " %>
			<% end %> 
		</li>
	</ul>	

	<nav aria-label="...">
		<ul class="pager">
			<% @pin.tags.each do |tag| %>
				<li><%= link_to "##{tag.name}", tag_pins_path(tag) %></li>
			<% end %>
		</ul>
	</nav>	

	<% unless @pin.boards.empty? %>
		<div class="panel-footer">
			<% @pin.boards.each do |board| %>
				<span class="label label-info"><%= link_to board.title, board %></span>
			<% end %>
		</div>		
	<% end %>
</div>


<%= link_to "Edit Pin", edit_pin_path(@pin), class: "btn btn-success" %>
<%= link_to "Delete Pin", @pin, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
</div>