<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-3">
					<%= image_tag(@person.img, class: "thumbnail") unless @person.img.blank? %>
				</div>
			</div>

			<h2><%= @person.name %></h2>
			<% unless @person.tags.nil? %> 
				<p>Tags: <%= @person.tags.map(&:name).to_sentence %></p>
			<% end %>

			<% unless @person.pins.nil? %>
				<p><%= @person.name %> is linked to:</p>
				<ul>
					<% @person.pins.each do |pin| %>
						<li><%= link_to pin.title, pin %></li>
					<% end %>
				</ul>		
			<% end %>
		</div>
		<div class="col-md-4">
			<%= render partial: "shared/social_profile", locals: {social_profile: @social_profile} %>
		</div>
	</div>

	<hr>
	<%= link_to "Edit", edit_person_path(@person), class: 'btn btn-default' %>
	<%= link_to "Delete", @person, method: :delete, class: "btn btn-danger pull-right" %>
</div>