<div class="container">
	<% if !@person.img.nil? %>
		<div class="row">
			<div class="col-md-3">
				<%= image_tag(@person.img, class: "thumbnail") %>
			</div>
		</div>
	<% end %>

	<h2><%= @person.name + " " + @person.surname %></h2>
	<p>Tags: <%= @person.tags.map(&:name).to_sentence %></p>
	<p><%= @person.name + " " + @person.surname %> is linked to:</p>
	<ul>
		<% @person.pins.each do |pin| %>
			<li><%= link_to pin.title, pin %></li>
		<% end %>
	</ul>
	<hr>
	<%= link_to "Edit", edit_person_path(@person), class: 'btn btn-default' %>
	<%= link_to "Delete", @person, method: :delete, class: "btn btn-danger pull-right" %>
</div>