<h4>Add social links</h4>
<p>The following links will enable tracking:</p>
<div class="input-group">
	<%= f.label :site_url, "Website URL", class: "input-group-addon" %>
	<%= f.text_field :site_url, class: "form-control", placeholder: "Website URL" %>
</div>

<div class="input-group">
	<%= f.label :blog_url, "Blog URL", class: "input-group-addon" %>
	<%= f.text_field :blog_url, class: "form-control", placeholder: "Blog URL" %>
</div>

<div class="input-group">
	<%= f.label :fb_url, "facebook.com/", class: "input-group-addon" %>
	<%= f.text_field :fb_url, class: "form-control", placeholder: "Facebook URL" %>
</div>

<div class="input-group">
	<%= f.label :tw_url, "twitter.com/", class: "input-group-addon" %>
	<%= f.text_field :tw_url, class: "form-control", placeholder: "Twitter URL" %>
</div>

<div class="input-group">
	<%= f.label :ln_url, "linkedin.com/company/", class: "input-group-addon" %>
	<%= f.text_field :ln_url, class: "form-control", placeholder: "Linkedin URL" %>
</div>

<div class="input-group">
	<%= f.label :ig_url, "instagram.com/", class: "input-group-addon" %>
	<%= f.text_field :ig_url, class: "form-control", placeholder: "Instagram URL" %>
</div>

<div class="input-group">
	<%= f.label :yt_url, "youtube.com/user/", class: "input-group-addon" %>
	<%= f.text_field :yt_url, class: "form-control", placeholder: "Youtube URL" %>
</div>

<div class="input-group">
	<%= f.label :db_url, "dribbble.com/", class: "input-group-addon" %>
	<%= f.text_field :db_url, class: "form-control", placeholder: "Dribbble URL" %>
</div>

<div class="input-group">
	<%= f.label :med_url, "medium.com/", class: "input-group-addon" %>
	<%= f.text_field :med_url, class: "form-control", placeholder: "Medium URL" %>
</div>