<nav class="navbar navbar-default">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>MissionControl</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
    			<li><%= link_to "Boards", boards_path %></li>
    			<li><%= link_to "Pins", pins_path %></li>
    			<li><%= link_to "Companies", companies_path %></li>
    			<li><%= link_to "People", people_path %></li>
          <li><%= link_to "Tags", tags_path %></li>
        </ul>
        
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Followed Boards</a></li>
                <li><a href="#">My Account</a></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
          <div class="btn-group navbar-btn navbar-right" role="group" aria-label="...">
            <button type="button" class="btn btn-default "><span class="glyphicon glyphicon-th" aria-hidden="true"></span><%= link_to " New Board", new_board_path %></button>
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span><%= link_to " New Pin", new_pin_path %></button>
          </div>            
        <% else %>
          <div class="btn-group navbar-btn navbar-right" role="group" aria-label="...">
            <button type="button" class="btn btn-default "><%= link_to " Log In", new_user_session_path %></button>
            <button type="button" class="btn btn-default"><%= link_to " Sign Up", new_user_registration_path %></button>
          </div>
        <% end %>
      </div>
  </div>  
</nav>