<% unless social_profile.nil? %>
	<ul class="list-group">
		<li class="list-group-item"><a href="<%= facebook_url(social_profile.fb_url) %>" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> facebook</a><span class="badge">@<%= social_profile.fb_url %></span></li>
		<li class="list-group-item"><a href="<%= twitter_url(social_profile.tw_url) %>" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> twitter</a><span class="badge">@<%= social_profile.tw_url %></span></li>
		<li class="list-group-item"><a href="<%= linkedin_url(social_profile.ln_url) %>" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> linkedin</a><span class="badge">@<%= social_profile.ln_url %></span></li>
		<li class="list-group-item"><a href="<%= instagram_url(social_profile.ig_url) %>" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> instagram</a><span class="badge">@<%= social_profile.ig_url %></span></li>
		<li class="list-group-item"><a href="<%= youtube_url(social_profile.yt_url) %>" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i> youtube</a><span class="badge">@<%= social_profile.yt_url %></span></li>
		<li class="list-group-item"><a href="<%= dribbble_url(social_profile.db_url) %>" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i> dribbble</a><span class="badge">@<%= social_profile.db_url %></span></li>
		<li class="list-group-item"><a href="<%= medium_url(social_profile.med_url) %>" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i> medium</a><span class="badge"><%= social_profile.med_url %></span></li>
	</ul>
<% end %>