<div class="container">
	<h2><%= @company.name %></h2>
	<p>Url: </p>
	<p>Created in <%= @company.creation_date %>, around <%= @company.size %> employees.</p>
	<p><%= @company.pitch %></p>
	<address><%= @company.address %></address>
</div>