<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-3">
					<%= image_tag(@company.logo, class: "thumbnail") if !@company.logo.empty? %>
				</div>	
			</div>
			<h4><%= @company.name %></h4>
			<p>
				<% @company.tag_names.each do |tag| %>
					<span class="label label-info"><%= tag %></span>
				<% end %>
			</p>
			<p><%= link_to @social_profile.site_url %></p>
			<p>Created in <%= @company.creation_date %>, around <%= @company.size %> employees.</p>
			<p><%= @company.pitch %></p>
			<address><%= @company.address %></address>
		</div>

		<div class="col-md-4">
			<%= render partial: "shared/social_profile", locals: {social_profile: @social_profile} %>
		</div>
	</div>

	<hr>
	<p><%= link_to "Edit #{@company.name}", edit_company_path(@company), class: "btn btn-default" %> <%= link_to "Destroy", @company, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger pull-right" %></p>
</div>