<div class="well">
	<h2>Ready to create a new Tag?</h2>
	<%= render "form" %>
</div>

<h1><%= pluralize(@tags.count, "Tags") %></h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Tag Name</th>
			<th>Pins tagged</th>
			<th>Admin</th>
		</tr>
	</thead>
	<tbody>
		<% @tags.each do |tag| %>
		<tr>
			<td>#<%= tag.id %></td>
			<td><%= tag.name %></td>
			<td><%= tag.pins.count %></td>
			<td><%= link_to "Edit", edit_tag_path(tag) %> | <%= link_to "Delete", tag, method: :delete, data: {confirm: "Are you sure?"} %></td>
		</tr>
		<% end %>
	</tbody>
</table>