<div class="container">
<div class="jumbotron jumbotron-image" style="background-image: url(<%= @board.img %>);">
  <h1><%= @board.title %></h1>
  <p><%= @board.description %></p>
</div>

<%= render partial: "pins/pins", locals: {pins: @board.pins} %>

<br>
<hr>
<%= link_to "Edit Board", edit_board_path(@board), class: "btn btn-success" %> or <%= link_to "Create a Pin", new_board_pin_path(@board), class: "btn btn-success" %>
<%= link_to "Delete Board", @board, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger pull-right" %>
</div>