<div class="jumbotron jumbotron-image" style="background-image: url(<%= @board.img %>);">
  <h1><%= @board.title %></h1>
  <p><%= @board.description %></p>
</div>

<%= render partial: "pins/pins", locals: {pins: @board.pins} %>

<%= link_to "Edit Board", edit_board_path(@board), class: "btn btn-success" %> or <%= link_to "Create a Pin", new_pin_path, class: "btn btn-success" %>