<!DOCTYPE html>
<html>
<head>
  <title>Missioncontrol</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/6fdb1fc4f6.js"></script>
</head>
<body>

<%= render "shared/menu" %>

<% unless flash.empty? %>
	<div class="container">
		<div class="alert alert-info" role="alert">
		    <% flash.each do |name, msg| %>
			      <%= content_tag :div, msg %>
		    <% end %>
	    </div>
	</div>
<% end %>


<%= yield %>


<div class="footer">
  <div class="container">
    <br>
    <p class="text-center"><a href="/">MissionControl</a> All rights reserved © <%= Time.now.strftime("%Y") %> <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span> A <a href="https://lyketil.com">Lyketil</a> project, powered by Ruby On Rails.</p>
  </div>  
</div>

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

</body>
</html>
